*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

#cards{
    height: 550px;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#full-scr{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: none;
    background-size: cover;
    background-position: center;
}

#progress{
    height: 4px;
    width: 100%;
    background-color: #dadada71;
    margin-top: 20px;
}

#growth{
    height: 100%;
    width: 50%;
    background-color: #fff;
    border-radius: 50px;
}

#cards #storiyan {
    height: 100px;
    width: 100%;
    white-space: nowrap;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.253);
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0px 5px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#cards #post{
    height: 70%;
    width: 100%;
    /* background-color: rgb(153, 51, 51); */
}

#cards #post #picture{
    border: 1px solid #dadada71;
    height: 85%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    font-size: 25px;
}

#p1{
    display: flex;
    gap: 10px;
}